

  <mat-sidenav-container>
    <mat-sidenav #sidenav style="width: 150px;">
        <nav class ="nav-list" style="margin: 20px;">
          <mat-nav-list routerLink="LogIn"  >Login</mat-nav-list>
        <mat-nav-list routerLink="UserTable" >UserTable</mat-nav-list>
        </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 88vh ;">
          <mat-toolbar color="primary">
          <button  mat-icon-button aria-label="Menu" (click)="sidenav.open()"><mat-icon>menu</mat-icon>
          </button>
          <span class="example-spacer"></span>
        
          <button mat-raised-button (click)="openEditForm()">Login</button>
    </mat-toolbar>&nbsp;
    <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> 

  

